---
layout: page
title: Education
permalink: education.html
banner: proof_2.jpg
meta: ""
---
<section class="section" id="education">
    <div class="education__container container">
        <div>
            <!--==================== EDUCATION 1====================-->
            {% for institution in site.data.education.institutions %}
            <div class="education__content{% if forloop.first == true %} education__open{% else %} education__close{% endif %}">
                <div class="education__header">
                    <img class="education__icon" src="assets/images/{{institution.logo}}">

                    <div>
                        <h1 class="education__title">{{institution.name}}</h1>
                        <span class="education__subtitle">{{institution.location}} | {{institution.date}}</span>
                    </div>

                    <i class="fa-solid fa-angle-down education__arrow"></i>
                </div>

                <div class="education__list grid">
                    {% for degree in institution.degrees %}
                    <div class="education__data">
                        <h3 class="education__name">{{degree.name}}</h3>
                        <div class="education__description grid">
                            <div>{{degree.description}}</div>
                            <div>{{degree.grade}}</div>
                        </div>

                        <h4 class="courses">Coursework</h4>
                        {% for group in degree.courses %}
                        <span class="button button--flex button--small button--link courses__button">
                            {{group.group}}
                            <i class="fa-solid fa-arrow-right button__icon"></i>
                        </span>

                        <div class="courses__modal">
                            <div class="courses__modal-content">
                                <h4 class=courses__modal-title">{{group.group}}:</h4>
                                <i class="fa-solid fa-xmark courses__modal-close"></i>

                                <ul class="courses__modal-courses grid">
                                    {% for course in group.courses %}
                                    <li class="grid">
                                        <span class="courses__modal-course">{{course.title}}</span>
                                        <span class="courses__modal-grade">{{course.grade}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

