---
layout: page
title: Education
permalink: education.html
banner: proof_2.jpg
meta: ""
---
{% for institution in site.data.education.institutions %}
<div class="row" id="{{institution.id}}">
    <!-- EDIT: work line 1 -->
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-8">
                <h1>{{institution.name}}</h1>
                <p style="font-style: italic;">{{institution.location}}</p>
            </div>
            {% if institution.logo %}
            <div class="col-lg-4"><img class="workimg" src="images/{{institution.logo}}"></div>
            {% endif %}
        </div>
        {% for degree in institution.degrees %}
            <div class="row">
                <div class="col-lg-9 workplace">
                
                    <p class="tit-emp">{{degree.name}}<br/></p>
                    
                    {{degree.description}}

                </div>

                <div class="col-lg-3">
                    <p>
                        <span class="sm">{{degree.date}}</span><br/>
                    </p>
                </div>
            </div>
            {% if degree.courses %}
            <h3>Courses</h3>
            {% for group in degree.courses %}
            <button class="button" id="{{group.id}}button"><h3>{{group.group}}</h3></button>
            <div id="{{group.id}}" style="display: none">
                {% for course in group.courses %}
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1">
                        <p><span class="tit-emp">{{course.title}}</span><br/>{{course.code}}
                            <br/><i>{{course.desc}}</i>
                        </p>
                    </div>
                    <div class="col-lg-3">
                        {% if course.grade == "ip" %}
                        <p><span class="sm imp">IN PROGRESS</span><br/></p>
                        {% else %}
                        <p><span class="sm">{{course.grade}}</span></p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <a href="#{{institution.id}}" id="{{group.id}}close" class="close-courses"><span>CLOSE</span></a>
            </div>
            {% endfor %}
            {% endif %}
        {% endfor %}
        
        <br>
        {% unless forloop.last == true %}
        <hr>
        {% endunless %}
    </div>
</div>
{% endfor %}
