---
layout: page
title: Experience
permalink: experience.html
banner: coder_girly.jpg
meta: ""
---
{% for workplace in site.data.experience %}
<div class="row">
    <!-- EDIT: work line 1 -->
    <div class="col-lg-11 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-8">
                <h1>{{workplace.employer}}</h1>
                <p style="font-style: italic;">{{workplace.location}} — {{workplace.date}}</p>
            </div>
            <div class="col-lg-4"><img class="workimg" src="images/{{workplace.logo}}"></div>
        </div>
        {% for position in workplace.positions %}
        <div class="row">
            <div class="col-lg-9 workplace">
            
                <p class="t">{{position.title}}<br/></p>
                {{position.desc}}
            </div>
            <div class="col-lg-3">
                <p class="sm">{{position.date}} <br/></p>
            </div>
        </div>
        <br>
        {% endfor %}            
    </div>
</div>
<br>
{% unless forloop.last == true %}
<hr>
{% endunless %}
{% endfor %}
