<!--==================== FOOTER ====================-->
<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">Lisa-Monique</h1>
                <span class="footer__subtitle">Bioinformatician, <br>Web Developer &amp;<br> Artist</span>
            </div>
            
            <ul class="footer__links">
                <li>
                    <a href="{{baseurl}}/experience.html" class="footer__link">Experience</a>
                </li>
                <li>
                    <a href="{{baseurl}}/education.html" class="footer__link">Education</a>
                </li>
                <li>
                    <a href="{{baseurl}}/business.html" class="footer__link">Business</a>
                </li>
            </ul>
            
            <div class="footer__socials">
                <a href="{{site.github_username}}" target="_blank" class="footer__social">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="{{site.linkedin_username}}" target="_blank" class="footer__social">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                 <a href="{{site.twitter_username}}" target="_blank" class="footer__social">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer__bg">
        <p class="footer__subtitle paragraph-center">Made by Lisa-Monique Edward</p>
    </div>
</footer>
    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="fa-solid fa-arrow-up scrollup__icon"></i>
    </a>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>