<header class="header" id="header">
    <nav class="nav container">
        <a href="{{baseurl}}/#home" class="nav__logo">Lisa-Monique Edward</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="{{baseurl}}/#home" class="nav__link active-link">
                        <i class="fa-solid fa-house nav__icon"></i>Home
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{baseurl}}/experience.html" class="nav__link">
                        <i class="fa-solid fa-briefcase nav__icon"></i>Experience
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{baseurl}}/education.html" class="nav__link">
                        <i class="fa-solid fa-graduation-cap nav__icon"></i>Education
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{baseurl}}/awards.html" class="nav__link">
                        <i class="fa-solid fa-award nav__icon"></i>Achievements
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{baseurl}}/business.html" class="nav__link">
                        <i class="fa-solid fa-shop nav__icon"></i>Business
                    </a>
                </li>
            </ul>
            <i class="fa-solid fa-xmark nav__close" id="nav-close"></i>
        </div>

        <div class="nav__btns">
            <!--Theme change button-->
            <i class="fa-solid fa-moon change-theme" id="theme-button"></i>
            <div class="nav__toggle" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>
</header>