{% include header.html %}
{% include nav.html %}

{{ content }} 

{% for post in site.posts %} {% if post.categories contains "highlight" %}
{% assign mod = forloop.index | modulo: 2 %}
<!-- <div class="header" style="background-image: url(../images/{{post.img}})">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1>{{post.title}}</h1>
                <h3 style="font-weight: bolder;">{{post.subtitle}}</h3>
            </div>
        </div>
    </div>
</div> -->
<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row centered">
        <div class="col-lg-4 col-sm-12 {% if mod == 0 %} pull-right float-right {% endif %}">
            <div style="background-image: url(../images/{{post.img}}); background-position: 60% 20%; min-height: 40vh; height: 100%; background-size: cover;">
                
            </div>
            
        </div>
        <div class="col-lg-8 col-sm-12">
            <!-- {% if mod == 0 %}
                #even
                <div class="about info">
            {% else %}
                #odd
                <div class="desc info">
            {% endif %} -->
            <div class="post-info">
                <h3>{{post.title}}</h3>
                <h4 style="font-weight: bolder;">{{post.subtitle}}</h4>
                {{post.content}}
                <div class="readmore readbutton">
                    <a href="{{ post.link | prepend: site.baseurl }}">
                        <h5>READ MORE</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endif %} {% endfor %}

{% include footer.html %}
